{% set title = "Выберите свой комплект бани/дома" %}
{% set bodyClass = "home" %}

{% extends "_html/_base/_layouts/_default.html" %}

{% block content %}
    <section class="cards">
        <div class="container">
            <div class="pt-5">
                <h2 class="section-title">Выберите свой комплект бани/дома</h2>
                <div class="cards-row row">
                    <div class="col-3">
                        <a href="./about.html" class="card">
                            <div class="card__image" style="background-image: url('./assets/img/баня-баничев-55х35-фасад-1-1200x1200 (1).webp');"></div>
                            <div class="card-text">
                                <h3 class="card-text__title">Баня-хамам “Баничев” под ключ. S = 19,5m².</h3>
                                <p class="card-text__price">1,149,000 ₽</p>
                                <div class="card-text__more">
                                    <p><span class="icon icon-more"></span>Подробнее</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="#" class="card">
                            <div class="card__image" style="background-image: url('./assets/img/интерьер-дом-3х5_CoronaCamera003_.0000-1200x1200.webp');"></div>
                            <div class="card-text">
                                <h3 class="card-text__title">Дом “Дачная студия Баничев” 5,5х3,5 м. S = 19,5m².</h3>
                                <p class="card-text__price">888,000 ₽</p>
                                <div class="card-text__more">
                                    <p><span class="icon icon-more"></span>Подробнее</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="#" class="card">
                            <div class="card__image" style="background-image: url('./assets/img/баня-баничев-72х35-фасад-1-1200x1200.webp');"></div>
                            <div class="card-text">
                                <h3 class="card-text__title">Баня-хамам “Баничев” с WC. 7,2х3,5 м. S = 28m².</h3>
                                <p class="card-text__price">1,549,000 ₽</p>
                                <div class="card-text__more">
                                    <p><span class="icon icon-more"></span>Подробнее</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="#" class="card">
                            <div class="card__image" style="background-image: url('./assets/img/Dom-Banichev-84x41-2-1200x1200.webp');"></div>
                            <div class="card-text">
                                <h3 class="card-text__title">Дом “Баничев” с WC. 7,2х3,5 м. S = 25,2m².</h3>
                                <p class="card-text__price">1,159,000 ₽</p>
                                <div class="card-text__more">
                                    <p><span class="icon icon-more"></span>Подробнее</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="#" class="card">
                            <div class="card__image" style="background-image: url('./assets/img/баничев-дом-6-1200x1200.webp');"></div>
                            <div class="card-text">
                                <h3 class="card-text__title">Дом “Баничев” 8,4х4,1 м. S = 19,5m².</h3>
                                <p class="card-text__price">1,459,000 ₽</p>
                                <div class="card-text__more">
                                    <p><span class="icon icon-more"></span>Подробнее</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}